{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<h1 class="display-1">Sign up here!</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      {{ field.label(class="form-label") }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Register</button>
</form>

{% endblock %}
